.btn {
  min-width: 100px;
  color:white;
}


.highcharts-container {
  z-index: -1 !important ;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel{
  position: relative;
  z-index: -1;
}

.console-body{
  position: absolute;
  top: 80%;
  margin-left: 17.6%;
  height: 19%;
  width: 80%;
  padding: 2vh;
  background-color: black;
  overflow: scroll;

}
.item{
  position: relative;
  float: left;
  text-align: center;
  width: 10%;
  color:white;
  margin-top:5px;
  border:solid;
  border-color: white;
  border-width: 2px;
}

.console-btn{
  position: absolute;
  top: 1%;
  left: 92%;
}
.box {
  position: fixed;
  left: 79%;
  top: 20%;
  width: 18%;
  height: 70%;
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
  /* box-shadow: 5px 5px lightgrey; */
  border-radius: 10px;
  /* padding: 10px; */
  z-index: 1;
  /* border: none; */
  background-color: white;
}
.chatBox {
  position: relative;
  height: 55%;
  width: 100%;
  overflow: scroll;
}
.userInput {
  float: left;
  background-color: #D8F9EA;
  width: 94%;
  padding: 1vh;
  margin-left: 5%;
  border: solid;
  border-color: transparent;
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}
.responseData {
  /* float: left; */
  background-color: #f5d8d8;
  width: 94%;
  margin-right:5% ;
  text-align: left;
  padding-left: 1vh;
  min-height: 5vh;;
  border: solid;
  border-color: transparent;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}
#input {
  width: 80%;
}
/* button {
  width: 50px;
} */
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.bome {
    position: relative;
    margin-top:-10px;
    height: 10%;
    background-color: #f5f5f5 ;
    width: 100%;

    margin-top:2.5%;
}
#input{
    float: right
    ;
  background: white;
  border: solid;
  margin: 1vh;
  width: 80%;
  border-color: transparent;
  border-radius: 1vh;
  padding: 1vh;
}
.header {
    position: relative;
    height: 25%;
    /* overflow: ; */
    width: 100%;

}
.bot-header{
  position: absolute;
  width: 100%;
  height: 100%;
}
.bot-avtar{
    position: absolute;
    top: 65%;
    left: 5%;
    height:10vh;
    width: 10vh;

    z-index: 11;
}
/* hr */
/* {
    margin-top: 40%;
} */
.bot-avtar img{
  border-style: solid;
  border-color: transparent; 
  border-width: 1vh;
  border-radius: 100%; 
}
.collapse-button{
  position: fixed; 
  top:93%; left:93% ;
   color:#1890ff ; 
   z-index: 11;
    background: transparent;
    border: none; 
    outline: none;
}